#root, body, html{
    height: 100%;
    margin: 0;
}

body{
    /* background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./assets/money.png); */
    background-size: cover;
    background: #193a74;
    background: linear-gradient(0deg, rgb(10, 25, 41) 0%, rgb(0, 30, 60) 100%);
}